header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  color: black;
  margin-bottom: 1;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

button {
  width: 50px;
  height: 50px;
  -moz-box-shadow: 0px 0px 32px 8px #080808;
  -webkit-box-shadow: 0px 0px 32px 8px #080808;
  box-shadow: 0px 0px 32px 8px #080808;
  background-color: #000000;
  border: 3px solid #ffffff;
  cursor: pointer !important;
  color: #ffffff !important;
  font-size: 20px !important;
  padding: 8px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #878787 !important;
}

.legendGroup {
  background-color: white !important;
  color: black !important;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.legendText {
  width: 50%;
  padding: 0px;
  text-align: center;
}

.ctrlBtn {
  color: black;
}
.btnGroup {
  margin-top: 5px;
  margin-bottom: 5px;
}

.rightGroup {
  text-align: end;
  margin-top: 8px;
  padding-right: 20px;
}

.rightGroup a {
  text-decoration: none;
  color: black;
}
.songText {
  margin-right: 5px;
}

.info {
  font-size: 18px;
}

.scene-container {
  border-left-style: solid;
  border-left-color: white;
  border-left-width: 20px;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: 20px;
}
