  @font-face {
    font-family: "XTypewriter-Regular";
    src: url("../fonts/XTypewriter-Regular.ttf") format("truetype");
  }

  .legendText, .songText, .command {
    font-family: "XTypewriter-Regular";
  }

  .btnCtrl {
    background-color: black;
    color: white !;
    font-family: "XTypewriter-Regular";
  }

  .msgContainer{
    width: 100%;
    white-space:normal;
    text-align: justify;
  }