.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    overflow: auto;
  }

  .markers {
    padding: 0;
    text-align: center;
    min-height:100%;
    position:relative;
  }

  .markers img {
    width: 150px !important;
    height: 150px !important;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .clear { clear: both; height: 300px; }

  .info {
    font-size: 18px;
  }

  .body-gallery {
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 20px;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 20px;
  }

  .container-gallery {
    margin-top: 30px;   
  }
  
  
